/* Application pages */
main {
  padding-top: 20px;
}

h1 a:after {
  color: #6f8181;
  content: ">";
  font-family: "glyph";
  font-size: 60%;
  vertical-align: middle;
  margin: 0px 5px;
}

.app-icon {
   float: left;
}

.app-screenshot {
   clear: left;
   text-align: center;
}

.infobox {
   padding-top: 15px;
}

#infobox-return img,.header-image {
   padding: 0!important;
   border: 0!important;
   margin: 0 5px 0 0!important;
   background-image: none!important;
}

.app-category,.international-site {
   float: left;
   display: table-cell;
   max-width: 240px;
   width: 240px;
   height: 60px;
   max-height: 60px!important;
   text-align: left;
}

.app-category img,.international-site img {
   float: left;
   margin: 0 10px 0 0!important;
}

.app-category a,.international-site a {
   font-size: 12pt;
   font-weight: 700;
   text-decoration: none;
}

.app-screenshot {
   max-width: 100%;
}

.international-site {
   height: auto!important;
}

#sidebar {
   color: #444;
   float: right;
   max-width: 185px;
   min-height: 200px;
   margin: 10px 0 10px 15px;
   padding: 15px;
   border: 1px solid #ccc;
   font-size: 10pt;
   text-align: left;
}
