@font-face {
  font-family: 'glyph';
  src:  url('glyph/glyph.eot?5ea9rb');
  src:  url('glyph/glyph.eot?5ea9rb#iefix') format('embedded-opentype'),
    url('glyph/glyph.ttf?5ea9rb') format('truetype'),
    url('glyph/glyph.woff?5ea9rb') format('woff'),
    url('glyph/glyph.svg?5ea9rb#glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="glyph-"], [class*=" glyph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'glyph' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyph-share-mastodon:before {
  content: "\6d";
}
.glyph-share-diaspora:before {
  content: "\2a";
}
.glyph-go-previous:before {
  content: "\3c";
}
.glyph-hamburger:before {
  content: "\3d";
}
.glyph-go-next:before {
  content: "\3e";
}
.glyph-share-facebook:before {
  content: "\46";
}
.glyph-share-gplus:before {
  content: "\47";
}
.glyph-go-home:before {
  content: "\48";
}
.glyph-info:before {
  content: "\49";
}
.glyph-logo-kde:before {
  content: "\4b";
}
.glyph-logo-plasmamobile:before {
  content: "\4d";
}
.glyph-logo-plasma:before {
  content: "\50";
}
.glyph-search:before {
  content: "\51";
}
.glyph-share-reddit:before {
  content: "\52";
}
.glyph-settings:before {
  content: "\53";
}
.glyph-share-twitter:before {
  content: "\54";
}
.glyph-video:before {
  content: "\56";
}
.glyph-window-new:before {
  content: "\57";
}
.glyph-close:before {
  content: "\58";
}
.glyph-share-ycombinator:before {
  content: "\59";
}
.glyph-cancel:before {
  content: "\5c";
}
.glyph-go-up:before {
  content: "\5e";
}
.glyph-check:before {
  content: "\63";
}
.glyph-link:before {
  content: "\6c";
}
.glyph-share:before {
  content: "\73";
}
.glyph-go-down:before {
  content: "\76";
}
.glyph-new-window:before {
  content: "\77";
}
.glyph-clear:before {
  content: "\78";
}
.glyph-share-telegram:before {
  content: "\2197";
}
.glyph-favorite:before {
  content: "\e900";
}
.glyph-view-catalog:before {
  content: "\e908";
}
.glyph-view-categories:before {
  content: "\e909";
}
.glyph-view-fullscreen:before {
  content: "\e90a";
}
.glyph-view-list-details:before {
  content: "\e90b";
}
.glyph-view-list-icons:before {
  content: "\e90c";
}
.glyph-view-list-text:before {
  content: "\e90d";
}
.glyph-view-list-tree:before {
  content: "\e90e";
}
.glyph-view-media-playlist:before {
  content: "\e90f";
}
.glyph-linkedin:before {
  content: "\eac9";
}
