

<b><u>KDE Puts You In Control with New Workspaces, Applications and Platform</u>




</b>KDE is delighted to announce its latest set of releases, providing major updates to the KDE Plasma workspaces, KDE Applications and KDE Platform.These releases, versioned 4.6, provide many new features in each of KDE's three product lines. Some highlights include:The<b> KDE Plasma Workspaces</b> gain from a new Activities system, making it easier to associate applications with particular activities such as a work or home tasks. Revised power management exposes new features but has a simpler configuration interface. KWin, the Plasma workspace window manager, receives a new scripting and the workspaces receive visual enhancements. <b>Plasma Netbook</b>, optimised for mobile computing devices receives speed enhancements and becomes easier to use via a touchscreen interface.For more details read the KDE Plasma Workspaces 4.6 announcementMany of the<b> KDE Application</b> teams have also released new versions. Particular highlights include improved routing capabilities in KDE’s virtual globe, Marble, and advanced filtering and searching using file metadata in the KDE file manager, Dolphin. The KDE Games collection receives many enhancements and the image viewer Gwenview and screenshot program KSnapshot gain the ability to instantly share images to a number of popular social networking sites.For more details read the KDE Applications 4.6 announcementThe<b> KDE Platform</b>, on which the Plasma Workspaces and KDE Applications are built also gains new capabilities available to all KDE applications. The Plasma framework gains support for writing desktop widgets in QML, the declarative Qt language and provides new Javascript interfaces for interacting with data. Nepomuk, the technology behind metadata and semantic search in KDE applications, now provides a graphical interface to back up and restore data. Bluetooth support is improved. The Oxygen widget and style set is improved and and a new Oxygen theme for GTK applications allows them to seamlessly merge into the Plasma workspaces and look just like KDE applications. For more details read the <a href="platform.php">KDE Platform 4.6 announcement</a>.



[Workspaces 4.6 announcement]<b><u>Plasma Workspaces Put You in Control</u>

</b>KDE is happy to announce the immediate availability of Plasma Desktop and Plasma Netbook 4.6. The Plasma Workspaces have seen both polish in existing functionality as well as the introduction of significant new innovations extending Plasma's capabilities further towards a more semantic, task-driven workflow.
<ul>
    <li>The <b>Activities </b>system has been redesigned making it easier to take advantage of them. By right clicking to the window title, you can now make applications and files part of an activity. Changing to this activity, the Plasma workspace will show you what you need when you need it. The process for adding, renaming and removing Activities has also been improved.</li>
</ul><i>46-w01.png - It is easy to associate applications with activities</i>
<ul>
    <li><b>Power management</b>&nbsp;&nbsp; has been revamped, with shorter and highly modular code (1/10th its&nbsp;&nbsp; previous size) which is easier to maintain and allows plugins to&nbsp; trigger&nbsp; power management features.&nbsp; Power settings are easier to&nbsp; understand and&nbsp; manage with the new configuration user interface.&nbsp; A new&nbsp; ‘Policy Agent’&nbsp; allows screen inhibition features, such as&nbsp; notifications or the screen&nbsp; turning off while you're watching a movie</li></ul><i>46-w02.png - The new simplified power management interface</i>
<ul>
    <li><b>KWin </b>should be faster than ever and work better with more graphics drivers, due to&nbsp;&nbsp; significant optimizations to cache window settings and only refresh needed areas of the screen. This brings:
<ul>
    <li>significant performance improvements&nbsp;</li>
    <li>better detection of graphic driver capabilities.</li>
    <li>optimizations described <a href="http://blog.martin-graesslin.com/blog/2010/10/optimization-in-kwin-4-6/">http://blog.martin-graesslin.com/blog/2010/10/optimization-in-kwin-4-6/</a></li>
    <li>Present Windows effect – close&nbsp; windows during the effect.</li></ul
></li></ul
><i>This would make a nice screenshot, but my system hangs every time i try and use present windows</i>
<ul>
    <li>Program start-up notification more efficient</li>
    <li>Rewamped&nbsp; notifications system, is now&nbsp; possible to have the notification popup in&nbsp; any point of th screen by&nbsp; just dragging it, the notification history&nbsp; and jobs popup looks&nbsp; cleaner, jobs have an optional download speed plot&nbsp; in the detailed&nbsp; view.</li></ul
><i>46-w04.png - You can now drag notifications to a convenient place on the desktop</i>
<ul>
    <li><b>Shelf applet</b> - when in a panel: gained automatic sizing of the popup, shows the number of unread mails and online contacts <a href="http://i158.photobucket.com/albums/t120/wdawn/sjelf-1.png">http://i158.photobucket.com/albums/t120/wdawn/sjelf-1.png</a>&nbsp;</li>
    <li>The <b>digital clock</b> in the panel was revamped, and now features a shadowed text which improves readability with some of backgrounds and themes.</li>
    <li>The <b>Tasks Plasma widget</b> now has support for basic launchers: Just drag a program icon onto the task bar and it'll become a quick launch entry.</li>
    <li><b>Plasma Netbook</b>&nbsp; has been further optimized under the hood for a faster "Search and&nbsp; Launch" experience and more touch-friendly behaviour on the "Page One"&nbsp; newspaper activity.</li></ul
><i>46-w05.png - The improved Newspaper activity in Plasma Netbook is now more touchscreen friendly [note, i don't like this screenshot - aren't there supposed to be columns?]</i><i>46-w07.png - The Plasma Netbook Search and Launch is faster</i>A variety of other improvements apparent in the Plasma Workspaces include changes to the Oxygen icon theme and better integration of applications not built on the KDE Platform thanks to a completely rewritten Oxygen GTK theme.<i>46-w06.png - The new Oxygen GTK theme helps to integrate non-KDE applications in a Plasma workspace</i>






---------------------------------------------------------------------------------------------------
[Apps 4.6 announcement]<b><u>KDE’s Marble Takes You Home</u>


1. Introduction

</b>KDE is happy to announce the release of new versions of many of our applications. From games, education and even small utilities, these applications become more powerful, yet easy to use as they mature in this version. Below are just a few highlights from some of the new applications released today.

<ul>
    <li><b>Marble </b>continues&nbsp; to shine with improved route planning support, now also allowing&nbsp; downloading of routing data. Its mobile version “MarbleToGo” is now a&nbsp; very capable turn-by-turn navigator. (recent Dot article too: <a href="http://dot.kde.org/2010/11/10/kdes-marble-team-holds-first-contributor-sprepareprint">http://dot.kde.org/2010/11/10/kdes-marble-team-holds-first-contributor-sprepareprint</a> with pics and videos)</li></ul
><i>46-a01.png – Marble’s advanced routing can use a variety of configurable backends</i><i>46-a06.png – The mobile version of Marble is a capable personal navigation tool [note - this screenshot is quite old and technically I guess this isn't in SC 4.6]</i>
<ul>
    <li><s>KStars, KDE's desktop planetarium has gained optional support for rendering using openGL, enhancing its performance on newer hardware.</s></li></ul
><i>Not true, I think - see </i><a href="http://kstars.wordpress.com/2011/01/02/kstars-with-experimental-opengl-support-in-rc2/"><i>http://kstars.wordpress.com/2011/01/02/kstars-with-experimental-opengl-support-in-rc2/</i></a><i> . My RC2 has no such option</i>
<ul>
    <li>KDE Games:
<ul>
    <li><b>Klickety</b>, an adaptation of the Clickomania game, makes a comeback in KDE Games 4.6, also replacing KSame through a compatibility mode.</li>
    <li>The KGameRenderer framework unifies theming across games, giving a more consistent and smooth look and feel. About a dozen of the KDE games have been ported to this new&nbsp; architecture, reducing memory usage and allowing them to take advantage of multicore processors.</li>
    <li>Palapeli: New puzzle slicer to split images into distinctive and authentic-looking pieces, bevel visual effect makes pieces appear three dimensional, “Create New Puzzle” dialog has improved usability.</li></ul
></li>
</ul>

<i>46-a02.png - Palapeli, the KDE puzzle game, makes it easy to create jigsaws from your own images</i>
<ul>
    <li>Kajongg: Improved documentation to explain the game to beginners, more intelligent robot player, and improved usability and playability due to&nbsp; better tile-handling.</li>
    <li><b>Dolphin</b></li>
    <li>The search interfaces of Kfind and Dolphin have been unified in a new, simplified search bar. Faceted browsing makes its public debut in the form of a Filter Panel that enables you to easily browse your indexed files using their metadata. A new sidebar allows for faceted searching, an enhancement to the traditional filebrowsing using metadata as additional filters.</li></ul>

<i>46-a05.png - Dolphin's faceted browsing lets you use multiple filters to find files by metadata</i>

<ul>
    <li>Column View usability improves. Columns width is now adjustable automatically&nbsp; or by the user, file selecting using a rubberband is now available and&nbsp; the horizontal scrollbar is no longer needed for navigating neighboring columns.</li>
    <li>To accompany the move of KDE development from SVN to Git, Dolphin features a new Git plugin, allowing updating and commiting from the GUI. The SVN plugin is of course still available.</li>
    <li>Various Improvents to the Service Menus (<a href="http://ppenz.blogspot.com/2010/11/improved-service-menus.html)">http://ppenz.blogspot.com/2010/11/improved-service-menus.html)</a>&nbsp;</li>
    <li><b>Kate</b></li>
    <li>With this version, Kate offers the ability to:
<ul>
    <li>recover unsaved data for local files on the next Kate startup (swap file support),</li>
    <li>always load plugins,</li>
    <li>add scripts to the menu and bind shortcuts.</li></ul
></li>
    <li>There are new Kate plugins:
<ul>
    <li>SQL&nbsp; Query plugin. The blog post on this plugin generated the most visits in&nbsp; the entire kate-editor.org history. Apparently it is a valuable add-on&nbsp; for web developers.</li>
    <li>GNU Debugger (GDB) Plugin</li>
    <li>Highlight Selected Text Plugin.</li></ul
></li>
    <li><b>Gwenview</b>, the KDE image viewer, gets a “Share” button to advertise its abilities to export pictures using KIPI plug-ins to popular photo sharing and social networking web sites.</li></ul
><i>46-a03.png - Gwenview can share images to many popular social networking sites [is this even right - isn't there supposed to be a button somewhere?]</i>
<ul>
    <li><b>KSnapshot</b>&nbsp; can now take free-hand region snapshots, has an option to include the&nbsp; mouse pointer and also a “Send to” button to instantly share screenshots.</li>

</ul>

<i>46-a04.png - KSnapshot can directly export screenshots to a number of 3rd part services</i>

The many other KDE applications updated today also receive new features and numerous bug fixes, while also gaining from the latest improvements in the KDE Platform to enhance speed and stability.


---------------------------------------------------------------------------------------------------[Platform 4.6 announcement]
<b><u>Function and Beauty Combine in the KDE Platform</u>

1. Introduction

</b>KDE proudly announces the release of KDE Platform 4.6. The foundation for the Plasma workspaces and the KDE applications has seen significant improvements in many areas. Besides the introduction of new&nbsp; technology, a lot of work has been spent on improving the performance and stability of the underlying pillars of the Platform.
<ul>
    <li>With the new release, the Plasma framework gained support for Plasma widgets written in QML. While existing widgets continue to function just as before, QML is now the preferred way to write new widgets.</li></ul
><i>If someone knows a widget written with QML then we can take a screenie</i>
<ul>
    <li>A <b>Plasma KPart</b>&nbsp; is now available, making it easy for developers to integrate plasma&nbsp; technologies inside their applications – there is already work on using the Plasma framework in Kontact and Skrooge</li>
    <li>Plasma data engines receive new features, including the ability to share items using a Javascript plugin and a storage service allowing data engines to have an offline cache</li>
    <li>Nepomuk, the semantic desktop technology of the KDE Platform, gained backup and synchronisation support to make transferring meta-data between devices easier.&nbsp; Users will be able to back up nepomuk information using a graphical&nbsp; interface.&nbsp; The synchronization features are currently only available&nbsp; from the command line. (More information at <a href="http://vhanda.in/blog/2010/11/nepomuk-backup/">http://vhanda.in/blog/2010/11/nepomuk-backup/</a> )</li></ul
><i>46-p01.png - Semantic data can now be easily backed up and restored using a graphical interface</i>
<ul>
    <li>Kwin now has a scripting interface. <a href="http://rohanprabhu.com/?p=116">http://rohanprabhu.com/?p=116</a>. This gives advanced users and distributors more power over the behavior of windows in a KDE Plasma workspace – for example it is possible to set a&nbsp; window as “keep above” until the window is&nbsp; maximized, treating it as a&nbsp; normal window that can be covered when&nbsp; maximized.&nbsp; When the window is&nbsp; un-maximized, automatically set it as&nbsp; “keep above” again.</li>
    <li>Oxygen, the visual component of the KDE Platform has also seen extensive work with a complete remake of all mimetype icons, the introduction of the Oxygen-GTK theme engine, enabling better integration of GTK apps into KDE Plasma Workspaces, including gradients and many of the features users expect from Oxygen.
<ul>
    <li><a href="http://www.muylinux.com/2010/12/18/oxygen-gtk-%C2%BFel-tema-definitivo/">http://www.muylinux.com/2010/12/18/oxygen-gtk-%C2%BFel-tema-definitivo/</a></li></ul
></li></ul
><i>46-p02.png - The Oxygen-GTK theme allows KDE and GTK applications to be mixed seamlessly</i>
<ul>
    <li>Improved <b>Bluetooth</b> support: A brand new bluetooth framework (BlueDevil replaces KBluetooth) allows easy device pairing and management.&nbsp;&nbsp;
<ul>
    <li>You can now use a wizard to pair devices,&nbsp;</li>
    <li>browse files on bluetooth devices using Dolphin or Konqueror, and&nbsp;</li>
    <li>manage bluetooth settings from KDE’s System Management or the system tray.&nbsp;&nbsp;</li>
    <li>The new framework also ‘listens’ for incoming requests, for example, to receive files or to enter a PIN code.<br/><br/></li></ul
></li>
</ul>CREDITSCould be nice to include these, probably best to put in alphabetical orderVivek PrakashStefan MajewskyGuillaume De BureNikhil MaratheMarkus SlopiankaStuart JarvisJos PoortvlietNuno PinheiroCarl SymonsMarco Martin'Nick P' from the Feature Guide - anyone know the full name?The KDE Promotion Team</body>
</html>
